#navBar {
  z-index: 100;
  position: relative;
  height: 13%;
  display: flex;
  overflow-y: auto;
  flex-direction: row;
  align-items: center;
  background-color: #f6eee0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.buttonNavBar {
  margin: 5px;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  background-color: #cee1d8;
  box-shadow: 1px 1px 1px #252525;
  text-decoration: none;
  position: relative;
  z-index: 100;
}

.buttonNavBar:hover {
  box-shadow: 1px 1px 100px #252525;
  transition: 1s ease;
}
